<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="ISO-8859-1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Titulo</title>
</head>
<body>

        <main>
            <header>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Edad</th>
                        </tr>
                    </thead>
                    <tbody th:each="persona : ${personas} ">
                        <tr>
                            <th th:text="${persona.nombre}"></th>
                            <th th:text="${persona.edad}"></th>
                        </tr>
                    </tbody>
                </table>
            </header>
        </main>
    
</body>
</html>