<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"></head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<title>Proyectos</title>

<style>
     body
     {
      margin:0;
      padding:0;
      background-color:#f1f1f1;
     }
     .box
     {
      width:1270px;
      padding:20px;
      background-color:#fff;
      border:1px solid #ccc;
      border-radius:5px;
      margin-top:25px;
      box-sizing:border-box;
     }
     
     
</style>
</head>
<body>
	<main>
		<div class="container box">
			<table id="proyecto_data" class="table table-bordered table-striped" >
				<thead>
					<tr>
						<th>Nombre proyecto</th>
						<th>Descripción</th>
						<th>Horas</th>
					</tr>
				</thead>
				
				<tbody th:each="proyecto_iterable : ${proyectos}">
					<tr >
					
						<td th:text="${proyecto_iterable.nombre}" contenteditable></td>
						<td th:text="${proyecto_iterable.descripcion}" contenteditable></td>
						<td th:text="${proyecto_iterable.horas}"contenteditable></td>
						<th> 
						
							<button type="button" class="btn btn-info">
								<i class="fas fa-edit"></i>Editar
							</button>
							
							<a th:href="|@{/proyecto/removeProyecto/__${proyecto_iterable.id_proyecto}__}|" >
								<button type="button" class="btn btn-danger">
									<i class="fas fa-trash"></i>Borrar
								</button>
							</a>
							
						</th>
					
					</tr>
				</tbody>
				
			</table>
			
			<a th:href="@{/proyecto/showFormularioProyecto}">
				<button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Add proyecto</button>	
			</a>
			<br>
			<a th:href="@{/login?logout}">
				<button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</button>
			</a>
			
	</main>
</body>
</html>